:root {
    --lightBlue: rgba(64,96,126,1);
    --blue: rgba(17,56,92,1);
    --darkBlue: rgba(25,42,63,1);
}

header {
    background: rgb(64,96,126);
    background: linear-gradient(90deg, rgba(64,96,126,1) 0%, rgba(17,56,92,1) 50%, rgba(25,42,63,1) 100%);
    color: white;
}

.btn-lightBlue {
    background-color: var(--lightBlue);
    color: white;
}

.btn-lightBlue:hover {
    background-color: var(--blue);
    color: white;
}

.fiveDayBlock {
    background-color: var(--darkBlue);
    color: white;
}

i {
    padding: 1rem;
}